*{padding:0; margin:0; box-sizing: border-box;}

body{
    background-color:coral;
    font-family: sans-serif;
    font-size: 1em;
    color: #3226F7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 5rem;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box0{
    margin-bottom: 0.3rem ;
    text-align: center;
}

input{   
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
    color: black;

}

input[type="text"], input[type="password"]{
    width: 240px;
    padding: 0.3rem;
    font-size:.9rem;
}

label{
    margin-top: 0.7rem;
}

.main{
    display: flex;
    flex-direction: column;
}

#box1{
    display: flex;
    flex-direction: column;
}

#box2{
    display: flex;
    flex-direction: column;
}
#box4{
    display: flex;
    flex-direction: column;
}

#btn-enviar:hover{
    background: #3226F7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    color:white;
}

select:hover, input[type="radio"]:hover{
    cursor: pointer;
}

select{
    padding: 0.5rem;
}

select:focus{
    background-color: #3226F7;
     color: white;
}

#box2{
    margin: 0.2rem 0;
    gap:0.6rem;
}

#box3{
    margin: 0.6rem 0;
}


input[type="submit"]{
width: max-content;
margin:0.4rem auto;
padding: 0.6rem 1.5rem;
}

.container2 > div{
  width: 40rem;
  height: 20rem;
  background-image: url('./imgs/foto1.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 2s ;
}

#p_nome,#p_email,#p_senha, i{
    color:red;
    font-size: 14px;
}

.input-and-i{
    display: flex;
    align-items: center;
}